{
  "printWidth": 80,
  "proseWrap": "never",
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}