{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "string-quotes": "double",
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-named": "never",
    "selector-no-qualifying-type":[true, {
      "ignore": ["attribute", "class", "id"]
    }],
    "selector-attribute-quotes": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "number-leading-zero": "never",
    "function-url-quotes": "always",
    "font-family-name-quotes": "always-where-recommended",
    "at-rule-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-no-vendor-prefix": true,
    "selector-class-pattern": null,
    "selector-combinator-space-before": null,
    "selector-combinator-space-after": null,
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "extend",
        "at-root",
        "debug",
        "warn",
        "error",
        "if",
        "else",
        "for",
        "each",
        "while",
        "mixin",
        "include",
        "content",
        "return",
        "function"
      ]
    }],
    "declaration-empty-line-before": "never",
    "rule-empty-line-before": ["always-multi-line", {
      "ignore": [
        "after-comment",
        "inside-block"
      ]
    }],
    "max-nesting-depth": null,
    "order/properties-alphabetical-order": null,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/dollar-variable-pattern": null
  }
}