////////////////////////////////////////////////
//ボディ
////////////////////////////////////////////////

:root {
  font-size: 10px;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  color: $color_b_3;
  font-size: $font_size;
  font-family: $font_family;
  font-size-adjust: normal;
  line-height: $line_height;
  overflow-wrap: break-word;
}

main {
  max-width: $contents_width;
  margin: 4rem auto;
  padding: 0 6%;
}

////////////////////////////////////////////////
//リンク
////////////////////////////////////////////////

a {
  color: $color_b_2;
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

////////////////////////////////////////////////
//フォーム
////////////////////////////////////////////////

button,
input,
optgroup,
select,
textarea {
  max-width: 100%;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
}

////////////////////////////////////////////////
//見出し・文章
////////////////////////////////////////////////

//文章
p {
  margin: 0 0 1.2em;
}

//ルビ
ruby {
  position: relative;

  rt {
    display: inline-block;
    margin: 0 0.2em;
    font-size: 0.65em;
    line-height: 1em;
    letter-spacing: -0.01em;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }
}

////////////////////////////////////////////////
//コード・キー
////////////////////////////////////////////////

code,
kbd,
pre {
  font-family: $font_family_mono;
  line-height: 1.5;
  letter-spacing: 0;
}

code,
kbd {
  margin: 0 0.15em;
  padding: 0.15em 0.5em;
  background: $color_w_2;
  border-radius: 0.3em;
}

pre {
  margin: 1em 0;
  padding: 1em;
  color: $color_b_2;
  white-space: pre-wrap;
  background: $color_w_2;

  code {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
  }
}
